/* header */
header {
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
}
.searchLogo {
  width: 30px;
  margin: 0 10px;
}
.searchLogo img {
  width: 100%;
}
.search {
  width: 270px;
  height: 31px;
  text-align: left;
  border: 1px solid #e5e5e5;
  color: rgba(0,0,0,.3);
  background-color: #fff;
  display: flex;
  align-items: center;
}
.search i {
  padding: 0 8px;
  font-size: 12px;
}
.login {
  width: 52px;
}