/* header */
header {
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
}
.searchLogo {
  width: 30px;
  margin: 0 10px;
}
.searchLogo img {
  width: 100%;
}
.search {
  width: 270px;
  height: 31px;
  text-align: left;
  border: 1px solid #e5e5e5;
  color: rgba(0,0,0,.3);
  background-color: #fff;
  display: flex;
  align-items: center;
}
.search i {
  padding: 0 8px;
  font-size: 12px;
}
.login {
  width: 52px;
}
/* 内容区 */
.shopList {
  position: relative;
  height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
}
.shop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #f2f2f2;
  height: 800px;
  line-height: 800px;
  font-size: 72px;
}

.page-left-enter-active, .page-left-leave-active {
  transition: all .5s;
}
.page-left-enter {
  transform: translateX(100%);
}
.page-left-enter-to, .page-left-leave {
  transform: translateX(0);
}
.page-left-leave-to {
  transform: translateX(-100%);
}
.page-right-enter-active, .page-right-leave-active {
  transition: all .5s;
}
.page-right-enter {
  transform: translateX(-100%);
}
.page-right-enter-to, .page-right-leave {
  transform: translateX(0);
}
.page-right-leave-to {
  transform: translateX(100%);
}